<!-- <div id="SearchDrawer" role="dialog" aria-modal="true" aria-label="{{ 'general.search.placeholder' | t }}" data-predictive-search-drawer>
  <form class="search-form" action="{{ routes.search_url }}" method="get" role="search">
      <input
        type="text"
        name="q"
        value="{{ search.terms | escape }}"
        placeholder="{{ 'general.search.placeholder' | t }}"
        role="combobox"
        aria-autocomplete="list"
        aria-owns="predictive-search-results"
        aria-expanded="false"
        aria-label="{{ 'general.search.placeholder' | t }}"
        aria-haspopup="listbox"
        class="input-field"
        data-predictive-search-drawer-input
      />
      <input type="hidden" name="options[prefix]" value="last" aria-hidden="true" />

    <button class="search-button"
      type="submit"
      data-search-form-submit>
      {% include 'icon-search' %}
    </button>
  </form>
</div>

<style>
  .input-container {
    display: flex;
    width: 100%;
  }
  .search-button {
    color: #000;
    margin: -5px 0 0 -70px;
    background-color: transparent;
  }
  .search-form {
    display: flex;
    width: 100%
  }
  .input-field {
    width: 90%
  }
</style> -->