<div class="flex">
  <div id="bkgInfo" class="col-6"></div>
  <div id="formInfo" class="col-6">
<div id="infoContainer">
  		<img id="loginLogo" src="https://cdn.shopify.com/s/files/1/0412/7840/6813/files/logo.svg?v=1610132701"/>
  	        <div class="formTabs">
            <div class="slider"></div>
            <div class="col-6 loginTab">
              LOGIN
            </div>
            <div class="col-6 registerTab">
              REGISTER
            </div>
        </div>
  		<div class="social">
          <i class="fa fa-facebook"></i>
          <i class="fa fa-instagram"></i>
          <i class="fa fa-twitter"></i>
  		</div>
</div>
<div id="formContainer">
 <div class="page-width">
      <div class="form-message form-message--success hide" id="ResetSuccess" tabindex="-1">
        {{ 'customer.recover_password.success' | t }}
      </div>
        
        <div class="loginForm active form">
         <div class="form-vertical">

        {% form 'customer_login', novalidate: 'novalidate' %}
		<input type="hidden" name="checkout_url" value="/index" />
          {%- if form.errors -%}
            <div class="form-message form-message--error">
              <h2 class="h3 form-message__title " tabindex="-1" data-form-status>{{ 'contact.form.error_heading' | t }}</h2>
              {{ form.errors | default_errors }}
            </div>
          {%- endif -%}
          <div class="row">
          <div class="col-6">
          <input
            type="email"
            name="customer[email]"
            id="CustomerEmail"
            autocomplete="email"
            autocorrect="off"
            autocapitalize="off"
            placeholder="Email"
            {%- if form.errors contains 'form' -%}
              class="input--error"
              aria-invalid="true"
            {%- endif -%}
             required
            >
           </div>
           <div class="col-6">
          {% if form.password_needed %}
            <input
              type="password"
              value=""
              name="customer[password]"
              id="CustomerPassword"
              placeholder="Password"
              {%- if form.errors contains 'form' -%}
                class="input--error"
                aria-invalid="true"
              {%- endif -%}
              required
            >
          {% endif %}
           </div>
           </div>
          <div class="text-center">
            {% if form.password_needed %}
              <p><a href="#recover" id="RecoverPassword">{{ 'customer.login.forgot_password' | t }}</a></p>
            {% endif %}

            <input type="submit" class="btn" value="Login">
          </div>

        {% endform %}
        </div>
        </div>
      

      <div id="RecoverPasswordForm" class="hide form">

        <div class="text-center">
          <h2 id="RecoverHeading">{{ 'customer.recover_password.title' | t }}</h2>
          <p>{{ 'customer.recover_password.subtext' | t }}</p>
        </div>

        <div class="form-vertical">
          {% form 'recover_customer_password' %}

            {% comment %}
              Add a hidden span to indicate the form was submitted succesfully.
            {% endcomment %}
            {% if form.posted_successfully? %}
              <span class="hide reset-password-success"></span>
            {% endif %}

            <label for="RecoverEmail">{{ 'customer.recover_password.email' | t }}</label>
            <input
              type="email"
              value=""
              name="email"
              id="RecoverEmail"
              class="input-full{% if form.errors %} input--error{% endif %}"
              autocorrect="off"
              autocapitalize="off"
              {% if form.errors %}
                aria-invalid="true"
                aria-describedby="RecoverEmail-email-error"
              {%- endif -%}
              >
            {%- if form.errors -%}
              <span id="RecoverEmail-email-error" class="input-error-message">
                <span class="visually-hidden">{{ 'general.accessibility.error' | t }} </span>
                {% include 'icon-error' %}
                <span>{{ form.errors.messages['form'] }}</span>
              </span>
            {%- endif -%}

            <div class="text-center">
              <p>
                <input type="submit" class="btn" value="{{ 'customer.recover_password.submit' | t }}">
              </p>

              <a href="#LoginHeading" id="HideRecoverPasswordLink">{{ 'customer.recover_password.cancel' | t }}</a>
            </div>
          {% endform %}
        </div>

      </div>
   
   
   
   
   
   	  <div class="registerForm form">
   	  <div class="form-vertical">
        {%- assign formId = 'RegisterForm' -%}
        {% form 'create_customer', id: formId, novalidate: 'novalidate' %}
          {% include 'form-status', form: form, form_id: formId %}
		  <div class="row">
          <div class="col-6">
          <input type="text" name="customer[first_name]" id="{{ formId }}-FirstName" placeholder="First Name" {% if form.first_name %}value="{{ form.first_name }}"{% endif %} autocomplete="given-name">
            </div>
            <div class="col-6">
          <input type="text" name="customer[last_name]" id="{{ formId }}-LastName" placeholder="Last Name" {% if form.last_name %}value="{{ form.last_name }}"{% endif %} autocomplete="family-name">
</div>
              <div class="col-6">
          <input
            type="email"
            name="customer[email]"
            id="{{ formId }}-email"
            class="{% if form.errors contains 'email' %} input--error{% endif %}"
            {% if form.email %} value="{{ form.email }}"{% endif %}
            autocorrect="off"
            autocapitalize="off"
            autocomplete="email"
            aria-required="true"
            placeholder="Email"
            {%- if form.errors contains 'email' -%}
              class="input--error"
              aria-invalid="true"
              aria-describedby="{{ formId }}-email-error"
            {%- endif -%}
                 
            required
          >
           </div>     
          {%- if form.errors contains 'email' -%}
            <span id="{{ formId }}-email-error" class="input-error-message">
              <span class="visually-hidden">{{ 'general.accessibility.error' | t }} </span>
              {% include 'icon-error' %}
              <span>{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}.</span>
            </span>
          {%- endif -%}
		<div class="col-6">
          <input
            type="password"
            name="customer[password]"
            id="{{ formId }}-password"
            placeholder="Password"
            class="{% if form.errors contains 'password' %} input--error{% endif %}"
            aria-required="true"
            {%- if form.errors contains 'password' -%}
              class="input--error"
              aria-invalid="true"
              aria-describedby="{{ formId }}-password-error"
            {%- endif -%}
            required
          >
          </div>
          {%- if form.errors contains 'password' -%}
            <span id="{{ formId}}-password-error" class="input-error-message">
              {% include 'icon-error' %}
              <span>{{ form.errors.translated_fields['password'] | capitalize }} {{ form.errors.messages['password'] }}.</span>
            </span>
          {%- endif -%}
        </div>
          <p class="text-center">
            <input type="submit" value="Register" class="btn">
          </p>

        {% endform %}
  </div>
   </div>

      {% comment %}
        If accounts are set as optional, the following will be shown as an option
        during checkout, not on the default /login page.
      {% endcomment %}
      {% if shop.checkout.guest_login %}
        <div class="text-center">
          <hr class="hr--invisible">
          <h2>{{ 'customer.login.guest_title' | t }}</h2>

          {% form 'guest_login' %}
            <input type="submit" class="btn" value="{{ 'customer.login.guest_continue' | t }}">
          {% endform %}
        </div>
      {% endif %}

</div>


</div>
  </div>
</div>

<style>  
    .page-container{
     	padding: 0; 
    }
</style>