{{ 'custom-multi-column.css' | asset_url | stylesheet_tag }}

{% style %}
    .section-{{ section.id }} {
        padding-top: {{ section.settings.padding_top }}em;
        padding-bottom: {{ section.settings.padding_bottom }}em;
    }
    .section-{{ section.id }} .cs-container h2, .section-{{ section.id }} .cs-container .cs-grid .cs-content .cs-items .cs-item .cs-text .cs-title {
        color: {{ section.settings.title_color }};
    }
    .section-{{ section.id }} .cs-container p {
        color: {{ section.settings.paragraph_color }};
    }
    .section-{{ section.id }} .cs-container .cs-grid .cs-content .cs-links .cs-button {
        background: {{ section.settings.button_color }};
        border: 1px solid {{ section.settings.button_color }};
        color: {{ section.settings.button_text_color }};
        transition: all 0.4s;
    }
    .section-{{ section.id }} .cs-container .cs-grid .cs-content .cs-links .cs-button:hover {
        border: 1px solid {{ section.settings.button_color }};
        color: {{ section.settings.button_color }};
        background: {{ section.settings.button_text_color }};
    }
    .section-{{ section.id }} .cs-container .cs-grid .cs-content .cs-items .cs-item img {
        width: {{ section.settings.image_size }}em;        
    }
{% endstyle %}

{% for block in section.blocks %}
    {% if block.type == 'content' %}
        {% assign block_number = block_number | plus:1 %}
    {% endif %}
{% endfor %}

{% if block_number == 1 %}
    <style>
        @media screen and (max-width: 768px) {
            .section-{{ section.id }} .cs-container .cs-grid .cs-content .cs-items .cs-item {
                grid-template-columns: 1fr !important;
            }
            .section-{{ section.id }} .cs-container .cs-grid .cs-content .cs-items .cs-item .cs-text p {
                text-align: center;
            }
        }        
    </style>
{% endif %}

<section id="{{ section.id }}" class="section-{{ section.id }} cs-multi-column">
    <div class="cs-container">
        {% if section.settings.heading != blank %}
            <h2>{{ section.settings.heading }}</h2>
        {% endif %}
        {% if section.settings.caption != blank %}
            <p>{{ section.settings.caption }}</p>
        {% endif %}
        <div class="cs-grid">
            <div class="cs-content">
                {% if section.settings.inner_heading != blank %}
                    <h2 class="cs-inner-title">{{ section.settings.inner_heading }}</h2>
                {% endif %}
                <div class="cs-items">                    
                    {% for block in section.blocks %}
                        {% if block.type == 'content' %}
                            <div class="cs-item">
                                {% if block.settings.image != blank %}
                                    <img class="lazyload" src="{{ block.settings.image | img_url: 'master' }}" alt="{{ block.settings.image | split: '/' | last | split: '.' | first | downcase }}">
                                {% else %}                                    
                                    <img class="lazyload" src="{{ 'ENVELOPETOCASH.png' | asset_img_url: 'master' }}" alt="">
                                {% endif %}
                                <div class="cs-text">
                                    {% if block.settings.title != blank %}
                                        <p class="cs-title">{{ block.settings.title }}</p>
                                    {% endif %}
                                    {% if block.settings.caption != blank %}
                                        <p>{{ block.settings.caption }}</p>
                                    {% endif %}
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                {% if section.settings.button_label != blank %}                
                    <div class="cs-links">
                        <a class="cs-button" href="{{ section.settings.button_link }}">{{ section.settings.button_label }}</a>
                    </div>
                {% endif %}
            </div>            
        </div>
        
        {% if section.settings.cta_text != blank and section.settings.cta_link != blank %}
        {% style %}
          .section-{{ section.id }} .cta_container {
            padding-top: {{ section.settings.cta_padding_top }}px;
            padding-bottom: {{ section.settings.cta_padding_bottom }}px;
          }
          
          .section-{{ section.id }} .cta_btn {
            color: {{ section.settings.cta_text_color }};
            border: 1px solid {{ section.settings.cta_border_color }};
            background: {{ section.settings.cta_background }}
          }
    
          .section-{{ section.id }} .cta_btn:hover {
            color: {{ section.settings.cta_hover_text_color }};
            border: 1px solid {{ section.settings.cta_hover_border_color }};
            background: {{ section.settings.cta_hover_background }}
          }
        {% endstyle %}
        {% assign pos_class = 'cta_center' %}
        {% case section.settings.cta_position %}
          {% when 'left' %}
            {%- assign pos_class = 'cta_left' -%}
          {% when 'right' %}
            {%- assign pos_class = 'cta_right' -%}
        {% endcase %}
        <div class="cta_container {{ pos_class }}">
          <a class="cta_btn" href="{{ section.settings.cta_link }}" title="">{{ section.settings.cta_text }}</a>
        </div>
      {% endif %}
      
    </div>
</section>

{% schema %}
{
"name": "Custom Multi Column",
"settings": [
    {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "default": "Shop secondhand and save"
    },
    {
        "type": "textarea",
        "id": "caption",
        "label": "Caption",
        "default": "The best place to find deals on secondhand outdoor gear"
    },
    {
        "type": "text",
        "id": "inner_heading",
        "label": "Inner Heading",
        "default": "GOT UNWANTED GEAR? <strong>SELL IT TO US!</strong>"
    },
    {
        "type": "range",
        "id": "image_size",
        "label": "Image Size",
        "min": 2,
        "max": 20,
        "step": 2,
        "unit": "em",
        "default": 6
    },
    {
        "type": "text",
        "id": "button_label",
        "label": "Button Label",
        "default": "START SHOPPING"
    },
    {
        "type": "url",
        "id": "button_link",
        "label": "Button Link",
        "default": "/collections/all"
    },
    {
        "type": "header",
        "content": "Paddings"
    },
    {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 10,
        "step": 1,
        "unit": "em",
        "label": "Padding Top",
        "default": 2
    },
    {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 10,
        "step": 1,
        "unit": "em",
        "label": "Padding Bottom",
        "default": 2
    },
    {
        "type": "header",
        "content": "Colors"
    },
    {
        "type": "color",
        "id": "title_color",
        "label": "Title Color",
        "default": "#000"
    },
    {
        "type": "color",
        "id": "paragraph_color",
        "label": "Paragraph Color",
        "default": "#000"
    },
    {
        "type": "color",
        "id": "button_color",
        "label": "Button Color",
        "default": "#f00"
    },
    {
        "type": "color",
        "id": "button_text_color",
        "label": "Button Text Color",
        "default": "#fff"
    }, 
    {
      "type": "header",
      "content": "CTA Option"
    },
    {
      "type": "text",
      "id": "cta_text",
      "label": "Text",
      "default": "Button"
    },
    {
      "type": "url",
      "id": "cta_link",
      "label": "Link"
    },
    {
      "type": "select",
      "id": "cta_position",
      "label": "Position",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "center"
    }, 
    {
      "type": "color",
      "id": "cta_text_color",
      "label": "Text Color",
      "default": "#fff"
    },
    {
      "type": "color",
      "id": "cta_background",
      "label": "Background Color",
      "default": "#ff0000"
    },
    {
      "type": "color",
      "id": "cta_border_color",
      "label": "Border Color",
      "default": "#ff0000"
    },
    {
      "type": "color",
      "id": "cta_hover_text_color",
      "label": "Hover Text Color",
      "default": "#ff0000"
    },
    {
      "type": "color",
      "id": "cta_hover_background",
      "label": "Hover Background Color",
      "default": "#fff"
    },
    {
      "type": "color",
      "id": "cta_hover_border_color",
      "label": "Hover Border Color",
      "default": "#ff0000"
    },
    {
      "type": "range",
      "id": "cta_padding_top",
      "min": 0,
      "max": 150,
      "step": 5,
      "unit": "px",
      "label": "Padding Top",
      "default": 25
    },
    {
      "type": "range",
      "id": "cta_padding_bottom",
      "min": 0,
      "max": 150,
      "step": 5,
      "unit": "px",
      "label": "Padding Bottom",
      "default": 25
    }
],
"blocks": [
    {
        "name": "Content",
        "type": "content",
        "settings": [
            {
                "type": "image_picker",
                "id": "image",
                "label": "Image"
            },
            {
                "type": "text",
                "id": "title",
                "label": "Title",
                "default": "GEAR-SSURANCE"
            },
            {
                "type": "textarea",
                "id": "caption",
                "label": "Caption",
                "default": "High-quality gear backed by our free 30-day return policy"
            }
        ]
    }
],
"presets": [
    {
        "name": "Custom Multi Column",
        "blocks": [
            {
                "type": "content"
            },
            {
                "type": "content"
            },
            {
                "type": "content"
            }
        ]
    }
]
}
{% endschema %}
