<style>
    .logo-bar__item {
  margin: 3%;

}

@media(max-width:590px){
ul.logo-bar {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}
  .logo-bar__item {
  margin: 1% !important;
  flex: 0 1 25%;
}
}
</style>
<div class="page-width">

  <div class="section-header text-center">
    <h2>FIND GREAT DEALS FROM THE TOP BRANDS</h2>
  </div>



  <ul class="logo-bar">
    
      <li class="logo-bar__item" {{ block.shopify_attributes }}>
        
          <a href="https://outandbackoutdoor.com/collections/patagonia" class="logo-bar__link" aria-describedby="a11y-external-message">
        
        
          <img src="//cdn.shopify.com/s/files/1/0550/6682/0803/files/Patagonia_160x160@2x.png?v=1657818642" alt="" class="logo-bar__image">
        
        
          </a>
        
      </li>
    
      <li class="logo-bar__item" {{ block.shopify_attributes }}>
        
          <a href="https://outandbackoutdoor.com/collections/big-agnes" class="logo-bar__link" aria-describedby="a11y-external-message">
        
        
          <img src="//cdn.shopify.com/s/files/1/0550/6682/0803/files/Big_Agnes_160x160@2x.png?v=1657818642" alt="" class="logo-bar__image">
        
        
          </a>
        
      </li>
    
      <li class="logo-bar__item" {{ block.shopify_attributes }}>
        
          <a href="https://outandbackoutdoor.com/collections/the-north-face" class="logo-bar__link" aria-describedby="a11y-external-message">
        
        
          <img src="//cdn.shopify.com/s/files/1/0550/6682/0803/files/The_North_Face_160x160@2x.png?v=1657818642" alt="" class="logo-bar__image">
        
        
          </a>
        
      </li>
    
      <li class="logo-bar__item" {{ block.shopify_attributes }}>
        
          <a href="https://outandbackoutdoor.com/collections/arcteryx" class="logo-bar__link" aria-describedby="a11y-external-message">
        
        
          <img src="//cdn.shopify.com/s/files/1/0550/6682/0803/files/Arcteryx_160x160@2x.png?v=1657818642" alt="" class="logo-bar__image">
        
        
          </a>
        
      </li>
    
      <li class="logo-bar__item" {{ block.shopify_attributes }}>
        
          <a href="https://outandbackoutdoor.com/collections/mountain-hardwear" class="logo-bar__link" aria-describedby="a11y-external-message">
        
        
          <img src="//cdn.shopify.com/s/files/1/0550/6682/0803/files/Mountain_Hardwear_160x160@2x.png?v=1657818642" alt="" class="logo-bar__image">
        
        
          </a>
        
      </li>
    
      <li class="logo-bar__item" {{ block.shopify_attributes }}>
        
          <a href="https://outandbackoutdoor.com/collections/osprey" class="logo-bar__link" aria-describedby="a11y-external-message">
        
        
          <img src="//cdn.shopify.com/s/files/1/0550/6682/0803/files/Osprey_160x160@2x.png?v=1657818642" alt="" class="logo-bar__image">
        
        
          </a>
        
      </li>
    
      <li class="logo-bar__item" {{ block.shopify_attributes }}>
        
          <a href="https://outandbackoutdoor.com/collections/columbia" class="logo-bar__link" aria-describedby="a11y-external-message">
        
        
          <img src="//cdn.shopify.com/s/files/1/0550/6682/0803/files/Columbia_160x160@2x.png?v=1657818642" alt="" class="logo-bar__image">
        
        
          </a>
        
      </li>
    
      <li class="logo-bar__item" {{ block.shopify_attributes }}>
        
          <a href="https://outandbackoutdoor.com/collections/black-diamond" class="logo-bar__link" aria-describedby="a11y-external-message">
        
        
          <img src="//cdn.shopify.com/s/files/1/0550/6682/0803/files/Black_Diamond_160x160@2x.png?v=1657818642" alt="" class="logo-bar__image">
        
        
          </a>
        
      </li>
    
  </ul>



</div>

{% schema %}
{
"name": {
  "da": "Logoliste",
  "de": "Logo-Liste",
  "en": "Logo list NEW",
  "es": "Lista de logos",
  "fi": "Logoluettelo",
  "fr": "Liste des logos",
  "hi": "लोगो सूची",
  "it": "Elenco loghi",
  "ja": "ロゴリスト",
  "ko": "로고 목록",
  "nb": "Logoliste",
  "nl": "Logolijst",
  "pt-BR": "Lista de logotipos",
  "pt-PT": "Lista de logótipos",
  "sv": "Logotyplista",
  "th": "รายการโลโก้",
  "zh-CN": "logo 列表",
  "zh-TW": "標誌清單"
},
"class": "index-section",

"settings": [

],

"presets": [
  {
    "name": {
      "da": "Logoliste",
      "de": "Logo-Liste",
      "en": "Logo list NEW",
      "es": "Lista de logos",
      "fi": "Logoluettelo",
      "fr": "Liste de logos",
      "hi": "लोगो सूची",
      "it": "Elenco loghi",
      "ja": "ロゴリスト",
      "ko": "로고 목록",
      "nb": "Logoliste",
      "nl": "Logolijst",
      "pt-BR": "Lista de logotipos",
      "pt-PT": "Lista de logótipos",
      "sv": "Logotyplista",
      "th": "รายการโลโก้",
      "zh-CN": "logo 列表",
      "zh-TW": "標誌清單"
    },
    "category": {
      "da": "Billede",
      "de": "Foto",
      "en": "Image",
      "es": "Imagen",
      "fi": "Kuva",
      "fr": "Image",
      "hi": "इमेज",
      "it": "Immagine",
      "ja": "画像",
      "ko": "이미지",
      "nb": "Bilde",
      "nl": "Afbeelding",
      "pt-BR": "Imagem",
      "pt-PT": "Imagem",
      "sv": "Bild",
      "th": "รูปภาพ",
      "zh-CN": "图片",
      "zh-TW": "圖片"
    }
 
  }
]
}
{% endschema %}
