<div class="page-container">
    <div class="section_1">
        <p>We're moving secondhand outdoor gear from an afterthought to the forefront of outdoor shopping</p>
    </div>
    <div class="section_2">
        <div class="section_2__img">
            {% comment %}<img src="https://via.placeholder.com/350x400">{% endcomment %}
            {{ 'JacketHeartIcon.png' | asset_url | img_tag: '', 'out-and-back-img magnifier_img' }}
        </div>
        <div class="section_2__text">
            <h3 class="section__title">We want to create more sustainable, attainable outdoor experiences for everyone</h3>
            <p>Out&Back Outdoor is creating a world that delivers a first-class shopping experience for secondhand gear, where people don't have to make sacrifices between new an used. And by doing so, we'll move
                secondhand gear from an afterthought to the forefront of outdoor shopping.</p>
        </div>
    </div>
    <div class="section_3">
        <h2 class="section__title">We make it easy to SHOP, SAVE and SELL outdoor GEAR!</h2>
        <div class="section_3__section">
            <div class="section_3__section_item title-stacked--margin">
                <h5>SHOP</h5>
                {% comment %}<img src="https://via.placeholder.com/100">{% endcomment %}
                {{ 'MagGlass.png' | asset_url | img_tag: '', 'out-and-back-img m-b-15 m-b-10 magnifier_img' }}
                <p>We curate new and used gear from multiple websites, across the top outdoor brands in one single shopping platform.</p>
            </div>
            <div class="section_3__section_item title-stacked--margin">
                <h5>SAVE</h5>
                {% comment %}<img src="https://via.placeholder.com/100">{% endcomment %}
                {{ 'Sale.png' | asset_url | img_tag: '', 'out-and-back-img m-b-15 m-b-10' }}
                <p>We aggregate prices from different websites, and feature them side-by-side allowing shoppers to find the best deal.</p>
            </div>
            <div class="section_3__section_item title-stacked--margin">
                <h5>SELL</h5>
                {% comment %}<img src="https://via.placeholder.com/100">{% endcomment %}
                {{ 'Jackettocash.png' | asset_url | img_tag: '', 'out-and-back-img m-b-15 m-b-10 magnifier_img' }}
                <p>We buy unwanted gear with an instant offer and free shipping so sellers can be on their way to making quick and easy cash.</p>
            </div>
            <div class="section_3__section_item title-stacked--margin">
                <h5>GEAR</h5>
                {% comment %}<img src="https://via.placeholder.com/100">{% endcomment %}
                {{ 'Pantswithcheck.png' | asset_url | img_tag: '', 'out-and-back-img m-b-15 m-b-10 magnifier_img' }}
                <p>We focus on everything from outerwear to apparel and backpacks to tents - covering the majority of consumers' outdoor gear needs.</p>
            </div>
        </div>
        <div class="section_3__buttons">
            <button class="learn-more" onclick="window.location = '/pages/start-shopping'">START SHOPPING</button>
            <button class="learn-more" onclick="window.location = '/pages/start-selling'">START SELLING</button>
        </div>
    </div>

    <div class="section_4">
        <div class="section_4__img">
            {% comment %}<img src="https://via.placeholder.com/300">{% endcomment %}
            {{ 'MagGlassMountains.png' | asset_url | img_tag: '', 'out-and-back-img magnifier_img' }}
        </div>
        <h3>We built this business for a good reason...</h3>
        <p>Outdoor exploration is among humanity's greatest joys. Yet exploring the outdoors requires gear. While we fully support making new gear we can't forget about all of the used, unwanted gear that many of us have
            laying around</p>
        <p>We believe there's a world where the definition of "new" has a different meaning. A world where one individual's unwanted gear can become another's new gear. We see a world where we can keep gear out of the
            back of our closets or landfills and instead, in circulation. While it's our right to explore the outdoors and enjoy fantastic gear, we must remember that it's our duty to minimize our environmental impact on
            this beautiful planet to ensure our adventures continue for years to come.</p>
    </div>
    <div class="section_5">
        <h2 class="section__title">Meet the leadership team!</h2>
        <div class="section_5__container">
            <div class="section_5__item">
                <h5>Barruch</h5>
                {% comment %}<img src="https://via.placeholder.com/200">{% endcomment %}
                {{ 'Barruch.png' | asset_url | img_tag: '', 'out-and-back-img' }}
                <p>Barruch is Out&Back’s Founder and CEO. He started the company in December of 2019 after working at VF Corporation. He has built multiple recommerce businesses in the past with Out&Back being the latest iteration. He is an outdoor enthusiast, lives in Denver CO and has a small daughter at home named Sierra.</p>
            </div>
            <div class="section_5__item title-stacked--margin">
                <h5>Dustin</h5>
                {% comment %}<img src="https://via.placeholder.com/200">{% endcomment %}
                {{ 'Dustin.png' | asset_url | img_tag: '', 'out-and-back-img' }}
                <p>Dustin leads engineering for Out&Back. He has held multiple lead engineering roles at companies big and small most recently having been a senior engineer at Magic Leap. Dustin loves to bike, hike, and explore the outdoors with his camera! He is based in South Florida.</p>
            </div>
            <div class="section_5__item title-stacked--margin">
                <h5>Kara</h5>
                {% comment %}<img src="https://via.placeholder.com/200">{% endcomment %}
                {{ 'Kara.png' | asset_url | img_tag: '', 'out-and-back-img' }}
                <p>Kara is the Head of Growth at Out&Back. She blends her previous digital marketing and re-commerce experiences to create memorable brand experiences and build meaningful connections with outdoor adventurers. An original Colorado native, Kara loves spending time outdoors with her friends and family.</p>
            </div>
            <div class="section_5__item title-stacked--margin">
                <h5>Rachel</h5>
                {% comment %}<img src="https://via.placeholder.com/200">{% endcomment %}
                {{ 'Rachel.png' | asset_url | img_tag: '', 'out-and-back-img' }}
                <p>Rachel is the Director of Operations at Out&Back. Her experience ranges from working in luxury goods, retail and footwear, and she's excited to leverage her deep knowledge of operations and logistics to the re-commerce business. Rachel loves spending time with her family and making memories outside with them.</p>
            </div>
        </div>
    </div>
    <div class="section_6">
        <div class="section_6__img">
            {% comment %}<img src="https://via.placeholder.com/350x400">{% endcomment %}
            {{ 'Denver.png' | asset_url | img_tag: '', 'out-and-back-img' }}
        </div>
        <div class="section_6__text">
            <h3>We call Denver Colorado home!</h3>
            <p>Out&Back Outdoor was founded in Denver, Colorado in late 2019. Our offices are in the RiNo neighborhood near downtown.</p>
            <p>We’re a team of outdoor enthusiasts so being in Denver is the center of bullseye! It gives us access to trails, ski-slopes, and any manor of outdoor activity (and the community that comes with them) so we
                can practice what we preach. <b>It’s easy to be a gearhead in Denver.</b></p>
        </div>
    </div>

    <div class="section_7">
        <h2 class="section__title">We’re backed by a great group of investors!</h2>
        <div class="section_7__container">
            <div class="section_7__item">
                <h3>VF Corporation</h3>
                {% comment %}<img src="https://via.placeholder.com/250">{% endcomment %}
                {{ 'VF.png' | asset_url | img_tag: '', 'out-and-back-img' }}
                <p>One of the world’s largest outdoor, apparel and footwear companies and owner of The North Face, Vans, SUPREME and others</p>
            </div>
            <div class="section_7__item title-stacked--margin">
                <h3>Baselayer Ventures</h3>
                {% comment %}<img src="https://via.placeholder.com/250">{% endcomment %}
                {{ 'baselayer.png' | asset_url | img_tag: '', 'out-and-back-img' }}
                <p>An independent early-stage venture firm that invests in health, sustainability, marketplace and virtual goods companies.</p>
            </div>
            <div class="section_7__item title-stacked--margin">
                <h3>Accelerator Ventures</h3>
                {% comment %}<img src="https://via.placeholder.com/250">{% endcomment %}
                {{ 'Accel.png' | asset_url | img_tag: '', 'out-and-back-img' }}
                <p>A San Francisco based venture firm that invests in early-stage technology companies with notable exits in Zappos, Braze and others.</p>
            </div>
        </div>
    </div>
</div>


<style>
    /* Container*/
    .page-container {
        margin: 65px 0 0 0;
        padding: 0;
    }

    .section__title {
        color: #140E5C;
        text-align: center;
    }

    .vf-logo{
        max-width: 50%;
        padding-bottom: 15px;
    }

    /* Section 1*/
    .section_1 {
        text-align: center;
        padding: 50px 10%;
        background: #F9F9F9;
    }

    .section_1 > p {
        font-weight: bold;
        font-size: 2em;
    }

    /* Section 2*/
    .section_2 {
        border-top: 1px solid #C7D0D6;
        text-align: center;
        padding: 30px 5%;
        background: #F9F9F4;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .section_2__img {
        flex: 1;
    }

    .section_2__text {
        flex: 1;
        padding: 40px 0 60px 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: left;
    }

    .section_2__text > h3 {
        font-weight: 900;
        color: #363366;
        margin-bottom: 40px;
        text-align: left;
    }

    .section_2__text > p {
        color: #140E5C;
        font-weight: 100;
    }

    /* Section 3*/
    .section_3 {
        padding: 40px 0 60px 0;
    }

    .section_3__section {
        display: flex;
        justify-content: space-evenly;
        padding: 50px 10%;
        flex-wrap: wrap;
    }

    .section_3__section_item {
        text-align: center;
        margin: 0 4em;
        flex: 1px;
    }

    .section_3__section_item > p {
        font-size: 15px;
    }

    .section_3__buttons {
        display: flex;
        justify-content: center;
        gap: 35px;
        margin-top: 50px;
    }

    .section_3__buttons > button {
        font-size: 16px;
        padding: 10px 20px;
        width: 190px;
    }


    /* Section 4*/
    .section_4 {
        background: #FBFBFB;
        padding: 5rem;
    }

    .section_4 > p {
        color: #140E5C;
        font-weight: 600;
    }

    .section_4 > h3 {
        font-weight: 900;
        color: #363366;
        margin-bottom: 0;
    }

    .section_4__img {
        text-align: center;
        margin-bottom: 25px;
    }

    /* Section 5*/
    .section_5 {
        padding: 40px 0 60px 0;
    }

    .section_5__container {
        display: flex;
        justify-content: space-evenly;
        padding: 50px 7%;
        flex-wrap: wrap;
    }

    .section_5__item {
        text-align: center;
        margin: 0 4em;
        flex: 1 1 190px;
    }

    /* Section 6*/

    .section_6 {
        background: #FBFBFB;
        padding: 30px 5%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        text-align: center;
    }

    .section_6__img {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .section_6__text {
        flex: 1;
        padding: 0 5%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: left;
    }


    .section_6__text > h3 {
        font-weight: 900;
        color: #363366;
        margin: 40px 0;
        text-align: center;
    }

    .section_6__text > p {
        color: #140E5C;
        font-weight: 100;
    }


    /* Section 7*/
    .section_7 {
        padding: 40px 0 60px 0;
    }

    .section_7__container {
        display: flex;
        justify-content: space-evenly;
        padding: 50px 7%;
        flex-wrap: wrap;
    }

    .section_7__item {
        text-align: center;
        margin: 0 6em;
        flex: 1 1 170px;
    }

    .section_7__item > p {
        width: 25rem;
        margin: 0 auto;
        padding-bottom: 55px;
    }

    .section_7__item > h3 {
        margin: 0 0 25px 0;
    }

    /* Responsive*/

    @media only screen and (max-width: 1380px) {
        .section_3__section_item {
            flex: 1 1 150px;
        }

        .section_7__item {
            flex: 1 1 150px;
        }

        .title-stacked--margin {
            margin-bottom: 15px;
        }

        .section_5__item > img {
            margin: 0 0 2rem 25px;
        }

    }

    @media only screen and (max-width: 600px) {

        .section__title {
            font-size: 1.2em;
        }

        .magnifier_img {
            margin-left: 30px;
        }

        .title-stacked--margin {
            margin-top: 50px !important;
        }

        .section_1 > p {
            font-weight: bold;
            font-size: 1.3em;
        }

        .section_2 {
            flex-direction: column;
        }

        .section_2 > h3 {
            padding: 0;
        }

        .section_2__text {
            text-align: justify;
        }

        .section_3__section_item {
            margin: 0 1rem;
            width: 25%;
        }

        .section_3__buttons {
            margin: 50px 28px 10px;
        }

        .section_3__buttons > button {
            font-size: 13px;
            padding: 8px 10px;
            width: 140px;
        }

        .section_4 {
            padding: 5rem 1rem;
        }

        .section_4 > h3 {
            font-size: 1.5rem;
            padding-bottom: 12px;
            text-align: justify;
        }

        .section_4 > p {
            font-size: 1rem;
            text-align: justify;
        }


        .section_5__item {
            margin: 0 1rem;
        }

        .section_5__item > img {
            margin: 0 0 2rem 25px;
        }

        .section_6 {
            flex-direction: column;
        }

        .section_6__text {
            text-align: justify;
        }

        .section_6__img > img {
            width: 100%;
            height: 100%;
        }

        .section__title {
            font-size: 1.5rem;
            padding: 0 1rem;
        }

        /* Section 2*/
        .section_2__text > h3 {
            font-size: 1.5em;
            text-align: center;
        }

        .section_2__text > p {
            font-size: 1.1em;
        }

        .section_7__item > p {
            font-size: 15px;
            padding: 0 25px;
        }

        .section_7__item > img {
            padding: 0 7rem;
            width: 100%;
        }

    }

    @media only screen and (max-width: 868px) {
        .section_2 {
            display: block;
        }
    }

    @media only screen and (max-width: 1200px) {
        .section_6 {
            display: block;
        }
    }

    .m-b-15 {
        margin-bottom: 15px;
    }

    .m-b-10 {
        margin-bottom: 10px;
    }

    .m-t-15 {
        margin-top: 15px;
    }

    .m-t-10 {
        margin-top: 10px;
    }
</style>
